.container {
  display: flex;
  padding-top: 88px;
  width: 160px;
}

.firstContainer h1 {
  align-items: center;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}

.firstContainer h3 {
  align-items: center;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
}
