@import "./styles/variables.scss";

.homeIntro{
  max-width: 1440px;
  padding-left: 140px;
  border-radius: 0px 0px 80px 80px;
  -webkit-border-radius: 0px 0px 80px 80px;
  -moz-border-radius: 0px 0px 80px 80px;
  -ms-border-radius: 0px 0px 80px 80px;
  -o-border-radius: 0px 0px 80px 80px;
  


  .flexContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:30px;

    p{
      max-width: 360px;
    }
  }

}



 

.imgWrap{
  position: absolute;
  text-align: center;
 right:0px;

  top:115px;
 

  .socials{
    position: absolute;
    bottom: 50px;
    right: 126px;
    background-color: transparent;
    
 
}

  .img{
    
    border-radius: 50%;
    
}
 
}

.socials{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}

.homeIntroHero{
  max-width: 800px;

  .sectionDisplay{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
   

    div{
      max-width: 160px;
      
    }
  
  }

  .topPosition{
    padding-top: 80px;
  }
}

.title{

  div{
      max-width: 660px;
    h1{

      max-width:660px
    
     
    }
    h4{
      max-width:360px;
    }
  }
}

.secondContent{
  div{
    padding-top:160px;

    h1{
      max-width: 960px;
    }
  }
}



.homeAbout{
  padding-top: 60px;
  background-color: black;

 
  
}

.homeAboutServicesCard{

  
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
  background-color: blue;
  max-width: 360px;
  height: 618px;
  
  

  h5, h2{
    text-align: center;
  }

  
}


.homeAboutServicesBorder{
  border: 1px solid #E0D4DE;
  max-width: 296px;
  margin:auto;
  
}
  
.homeAboutServicesCardImage{
  position: absolute;
  justify-content: center;
  text-align: center;
}




