$background: #f6eef5;
$fontfamily: "Shocka Serif";
$textcolor: #000000;
$desccolor: #61585f;
$descfontfamily: "Lexend Deca";
.headline {
  font-family: $fontfamily;
  font-style: normal;
  font-weight: 300;
  font-size: 52px;
  color: $textcolor;
  width: 660px;
  height: 158px;
  line-height: 79.2px;
}

.description {
  color: $desccolor;
  font-family: $descfontfamily;
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
}

.descriptioncontainer {
  width: 420px;
  height: 58px;

  top: 182px;
}
