$whitebackground: #f6eef5;
$blackbackground: #000000;
$shocka: "Shocka Serif";
$lexend: "Lexend Deca";
$titlecolorblack: #000000;
$titlecolorwhite: #FDF8FC;
$subtitlecolorwhite: #61585F;
$subtitlecolorblack: #B9B9B9;